<h1>Non non non non</h1>

<p>Voici les règles :</p>
<ul>
  <li>pas d'espace entre dans ton nom</li>
  <li>pas de nom déjà existant</li>
  <li>les champs obligatoire doivent être remplis</li>
</ul>


<a href="new">Aller retente ta chance</a>
