// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.obligatoire {color: red;}

.non_obligatoire {color: white;}

body {
  margin: 0;
}

#conteneur {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.bouton_submit{
 border-radius: 5px;
 height:35px;
}

.bouton_submit:hover{
 background-color: grey;
}

.bouton_submit:active{
 background-color: black;
}
